.idea
staticfiles
__pycache__
*.db

# venv
venv
.venv

# react stuff (frontend)
node_modules
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

