[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-postgresql = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
