[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-postgresql = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework = "*"
django-cors-headers = "*"
reportlab = "*"

[dev-packages]
ipython = "*"
flake8 = "*"

[requires]
python_version = "3.10"
