{% extends 'store/base.html' %}

{% block title %}Depot Commun | Home{% endblock %}
{% block navbar_title %}Home{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-text-center">
    <h1 class="uk-card-title">Depot Commun</h1>
    <p class="uk-text-muted">
        Welcome, {{ request.user.get_full_name|default:request.user.username }}.
    </p>

    <button hx-post="{% url 'store:new-basket' %}" hx-target="#body" class="uk-button uk-button-primary">
        Neuer Einkauf
    </button>
</div>
{% endblock %}
