{% extends 'store/base.html' %}

{% block title %}Depot Commun | Home{% endblock %}
{% block navbar_title %}Home{% endblock %}

{% block content %}
<ion-card>
    <ion-card-header>
        <ion-card-title>Depot Commun</ion-card-title>
        <ion-card-subtitle>Willkommen, {{ request.user.get_full_name|default:request.user.username }}.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-button expand="block" hx-post="{% url 'store:new-basket' %}" hx-target="#body" hx-push-url="true">
            Neuer Einkauf
        </ion-button>
    </ion-card-content>
</ion-card>
{% endblock %}
