{% extends 'store/base.html' %}

{% block title %}Depot Commun | Einkauf{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-text-center" uk-sticky="offset:80" >
    <div uk-grid>
        <div>{{ purchases_count }} Artikel</div>
        <div>Total {{ purchases_total }}</div>
    </div>
</div>
<div uk-sticky="position: bottom; offset: -20">
    <a uk-icon="plus" class="uk-icon-button" hx-get="{% url 'store:choose-article' basket_id=basket.id %}" hx-target="#body" class="uk-button uk-button-primary"></a>
</div>

{% for purchase in purchases %}
<div class="uk-card uk-card-default uk-card-body">
    <h2 class="uk-card-title">{{ purchase.article.name }}</h2>
    <div uk-grid>
        <div class="uk-width-expand">
            <div uk-grid class="uk-grid-collapse">
                <a uk-icon="minus" class="uk-icon-button uk-width-1-3" hx-post="{% url 'store:dec-quantity' purchase_id=purchase.id %}" hx-target="#body"></a>
                <div class="uk-width-1-3 uk-text-center">{{ purchase.quantity }}</div>
                <a uk-icon="plus" class="uk-icon-button uk-width-1-3" hx-post="{% url 'store:inc-quantity' purchase_id=purchase.id %}" hx-target="#body"></a>
            </div>
        </div>
        <div class="uk-width-1-4 uk-text-right">{{ purchase.price }}</div>
        <div class="uk-width-1-4 uk-text-right">{{ purchase.total_price }}</div>
    </div>
</div>
{% endfor %}


{% endblock %}

{% block extra_js %}

{% endblock %}
